body
{
background-color: aqua;
}
div
{
    text-align: center;
}


h1
{
    text-align: center;
    display: flex;
    position: relative;
    margin: auto;
    background-color: blue;
    width: 35%;
    border-radius: 20%;

}