.text-platzi
{
    color: #97c93e !important;
}

#header a
{
    color: white;
    
}

#header a:hover
{
  color: #ffa500;
}





#main .carousel-inner img 
{
    max-height: 81.8vh;
    object-fit: cover;
    filter: grayscale(50%);
}


.navbar-nav 
{
		position: absolute ;
        right: 160px;
	
}

#footer
{
    background: linear-gradient(90deg,#1c3643,#273647 25%,#1e5372);
}

#footer a 
{
    color: white;
}
  
