#header a
{
    color: white;
    
}

#header a:hover
{
    color: orange;
}

#header img 
{
    width: 55px;
}


.navbar-nav 
{
		position: absolute ;
        right: 160px;
	
}

#footer
{
    background: linear-gradient(90deg,#1c3643,#273647 25%,#1e5372);
}

#footer a 
{
    color: white;
}
